.page-header {
    background-color: #E05F2E;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    font-family: Gill Sans MT;
}

.page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 40px;
}

.submenu h5 a {
    color: #ffffff;
    float: right;
    margin-right: 30px;
    padding-top: 18px;
    text-decoration: none;
}

.container {
    margin-left: 40px;

}

body {
    font-family: Gill Sans MT;
    line-height: 1.5em;
    font-weight: 400;
}

.image img {
    max-width: 100%;
}

h3 {
    color: #E05F2E;
    padding: 20px 0px 20px 0px;
}

.date {
    color: #828282;
}

.edit a {
    float: right;
    padding: 24px 0px 0px 0px;
}

.quote {
   margin-bottom: 60px;
}

.quote h2 a {
   color: #5E4651;
   text-decoration: none;
}

.my_quote {
    font-size: 14pt;
    padding: 20px 0px 0px 0px
}

.client {
    font-size: 20pt;
}

.input-form textarea, input {
    width: 100%;
}

.input-form {
    float: left;
}

.btn-primary {
    float: right;
    background-color: #E05F2E;
    border-color: #E05F2E;
    margin-bottom: 40px;
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    padding: 20px;
}

.fa-edit::before {
    color: #E05F2E;
    padding: 0px 15px 0px 0px;
}

.fa-trash-alt::before {
    color: #E05F2E;
    padding: 0px 400px 0px 0px;
}

.login {
    width: 45%;
}

.signup{
    color: #E05F2E;
}

