{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'calc/calc.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
</head>
<body>
<div class="image">
    <img src="{% static "calc/piql.jpg" %}" alt="piqlConnect">
</div>

<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="top-menu"><i class="fas fa-sign-out-alt"></i></a>
        <a href="{% url 'data_input' %}" class="top-menu"><i class="fas fa-plus-circle"></i></a>
        <div class="submenu">
            <h5><a href="{% url 'data_history' %}">Quotes</a></h5>
            <h5><a href="/">Hello, {{ user.username }}</a></h5>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
    <h1><a href="{% url 'data_input' %}">Piql Calculator</a></h1>

</div>


<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>