{% extends 'calc/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Piql Calculator{% endblock %}

{% block content %}

    <h3>{{ edit }}</h3>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>


{% endblock %}