{% extends 'calc/base.html' %}
{% load mathfilters %}
{% block title %}{{ quote.customer_name }}{% endblock %}

{% block content %}

    <h3>Quote:</h3>

    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'data_quote' pk=quote.pk %}"><strong>{{ quote.customer_name }}</strong></a>
              <small class="text-muted">{{ quote.created_date|date:"D, d M Y, h: i a" }}</small>

                <a href="{% url 'quote_delete' pk=quote.pk %}"
                 onclick="return confirm('Are you sure you want to delete this quote?')">
                  <i class="fas fa-trash-alt"></i></a>
                <a href="{% url 'data_order' pk=quote.pk %}"><i class="fas fa-file-excel"></i></a>
                <a href="{% url 'data_edit' pk=quote.pk %}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="my_quote">
                {% if request.user.is_superuser %}
                    <p style="color: #828282"><strong>Partner: </strong>{{ quote.partner_name }}</p>
                {% endif %}
                    <p style="color: #828282"><strong>Quote details:</strong></p>

                {% if quote.offline_data or quote.pages %}
                    <p>Type of offline preservation: {{ quote.type }}</p>
                    <p>Offline data (GB): {{ quote.offline_data }}</p>
                    <p>Offline visual (pages): {{ quote.pages }}</p>
                    {% if quote.pages == 0 %}
                        <p>Pages per frame: 0</p>
                    {% else %}
                        <p>Pages per frame: {{ quote.layout }}</p>
                    {% endif %}
                <hr>
                {% endif %}

                {% if quote.online_data %}
                    <p>Online data (GB): {{ quote.online_data }}</p>
                    {% if quote.online_data == 0 %}
                        <p>Payment: only_piqlfilm</p>
                    {% else %}
                        <p>Payment: {{ quote.payment }}</p>
                    {% endif %}
                <hr>
                {% endif %}

                {% if quote.awa == 'yes' %}
                    {% if quote.offline_data or quote.pages %}
                        <p>AWA Storage for a {{ quote.awa_contribution }} entity </p>
                        <p>Period: {{ quote.awa_storage }} years</p>
                        <hr>
                    {% endif %}
                {% endif %}

                {% if quote.piqlreader == 'yes' %}
                    <p>{{ qty }} piqlReader(s) included</p>
                    <p>Service support: {{ quote.service }} </p>
                    <hr>
                {% endif %}

                {% if quote.consultancy == 'yes' %}
                    <p>{{ days }} day(s) of professional services included</p>
                    <hr>
                {% endif %}

                <p>Comments: {{ quote.comment|linebreaksbr }}</p>
            </div>
          </div>
    </article>

    <h5 style="color: #E05F2E">Prices:</h5>

    <article class="media content-section">

          <div class="media-body">
            <div class=" result">

            {% if quote.payment == 'only_piqlfilm' %}
                {% if quote.offline_data == 0 and quote.pages == 0 %}
                        <p style="color: #828282"><strong>You missed online data or offline data. Please add the amount</strong></p>

                {% elif quote.online_data == 0 %}
                    <p>Offline storage for {{ quote.offline_data }} GB and {{ quote.pages }} pages is: {{ price }} euros</p>
                    <p>Including:</p>
                    <p>piqlConnect for: {{ piqlconnect }} euros</p>
                    <p>piqlFilms: {{ reel }} reels</p>
                    <hr>

                    {% if quote.awa == 'yes' %}
                        <p>Storage in AWA for {{ reel }} reel(s) is: {{ awa_price }} euros</p>
                        <p>Including:</p>
                        <p>One time registration fee for: {{ reg_fee }} euros</p>
                        <p>One time Contribution fee for: {{ con_fee }} euros</p>
                        <p>{{ quote.awa_storage }} years of Management fee: {{ mgmt_fee }} euros</p>
                        <p>{{ quote.awa_storage }} years of AWA storage: {{ storage_awa }} euros</p>
                        <hr>
                    {% endif %}

                    {% if quote.piqlreader == 'yes' %}
                        <p>{{ qty }} piqlReader is: {{ price_piqlreader }} euros</p>
                        <p>Including:</p>
                        <p>Installation and training: {{ installation }} euros</p>
                        <p>{{ quote.service }} service support: {{ support }} euros per year</p>
                        <hr>
                    {% endif %}

                    {% if quote.consultancy == 'yes' %}
                        <p>Professional services for {{ days }} days is: {{ price_prof_serv }} euros</p>
                        <hr>
                    {% endif %}

                    <p style="color: #E05F2E"><strong>Payment summary:</strong></p>
                    <div style="color: #828282">
                        <p><strong>The price for the first year is {{ first_year_price }} euros</strong></p>
                        {% if quote.awa == 'no' %}
                            <p><strong>Shipment cost (30 euros/reel): {{ reel|mul:30 }} euros</strong></p>
                        {% else %}
                            <p><strong>Shipment cost to AWA (20 euros/reel): {{ reel|mul:20 }} euros</strong></p>
                        {% endif %}
                        {% if quote.piqlreader == 'yes' %}
                            <p><strong>Shipment cost for the piqlReader is calculated according to the destination</strong></p>
                        {% endif %}
                         <hr>
                        <p><strong>The price from second year is {{ second_year_price }} euros per year</strong></p>
                    </div>
                {% else %}
                    <p style="color: #828282"><strong>Incorrect "online payment", please select "Yearly" or "Monthly"</strong></p>
                {% endif %}

            {% elif quote.payment == 'yearly' %}
                {% if quote.offline_data == 0 and quote.pages == 0 and quote.online_data == 0 %}
                    <p style="color: #828282"><strong>You missed online data or offline data. Please add the amount</strong>
                {% else %}
                    {% if quote.offline_data or quote.pages %}
                        <p>Offline storage for {{ quote.offline_data }} GB and {{ quote.pages }} pages is: {{ offline }} euros</p>
                        <p>piqlFilms: {{ reel }} reels</p>
                        <hr>
                    {% endif %}
                    <p>Online storage for {{ quote.online_data }} GB is: {{ online }} euros per year</p>
                    <p>Including:</p>
                    <p>piqlConnect bundle for: {{ bundle }} euros</p>
                    <hr>

                    {% if quote.awa == 'yes' %}
                        {% if quote.offline_data or quote.pages %}
                            <p>Storage in AWA for {{ reel }} reel(s) is: {{ awa_price }} euros</p>
                            <p>Including:</p>
                            <p>One time registration fee for: {{ reg_fee }} euros</p>
                            <p>One time Contribution fee for: {{ con_fee }} euros</p>
                            <p>{{ quote.awa_storage }} years of Management fee: {{ mgmt_fee }} euros</p>
                            <p>{{ quote.awa_storage }} years of AWA storage: {{ storage_awa }} euros</p>
                            <hr>
                        {% endif %}
                    {% endif %}

                    {% if quote.piqlreader == 'yes' %}
                            <p>{{ qty }} piqlReader is: {{ price_piqlreader }} euros</p>
                            <p>Including:</p>
                            <p>Installation and training: {{ installation }} euros</p>
                            <p>{{ quote.service }} service support: {{ support }} euros per year</p>
                            <hr>
                    {% endif %}

                    {% if quote.consultancy == 'yes' %}
                            <p>Professional services for {{ days }} days is: {{ price_prof_serv }} euros </p>
                            <hr>
                    {% endif %}

                    <p style="color: #E05F2E"><strong>Payment summary:</strong></p>
                    <div style="color: #828282">
                        <p><strong>The price for the first year is {{ first_year_price }} euros</strong></p>
                        {% if quote.offline_data or quote.pages %}
                            {% if quote.awa == 'no' %}
                                <p><strong>Shipment cost (30 euros/reel): {{ reel|mul:30 }} euros</strong></p>
                            {% else %}
                                <p><strong>Shipment cost to AWA (20 euros/reel): {{ reel|mul:20 }} euros</strong></p>
                            {% endif %}
                            {% if quote.piqlreader == 'yes' %}
                                <p><strong>Shipment cost for the piqlReader is calculated according to the destination</strong></p>
                            {% endif %}
                        {% endif %}
                        <hr>
                        <p><strong>The price from second year is {{ second_year_price }} euros per year</strong></p>
                    </div>
                {% endif %}

            {% elif quote.payment == 'monthly' %}
                {% if quote.offline_data == 0 and quote.pages == 0 and quote.online_data == 0 %}
                    <p style="color: #828282"><strong>You missed online data or offline data. Please add the amount</strong>
                {% else %}
                    {% if quote.offline_data or quote.pages %}
                        <p>Offline storage for {{ quote.offline_data }} GB and {{ quote.pages }} pages is: {{ offline }} euros</p>
                        <p>piqlFilms: {{ reel }} reels</p>
                        <hr>
                    {% endif %}
                    <p>Online storage for {{ quote.online_data }} GB is: {{ online }} euros per month</p>
                    <p>Including:</p>
                    <p>piqlConnect bundle for: {{ bundle }} euros</p>
                    <hr>

                    {% if quote.awa == 'yes' %}
                        <p>Storage in AWA for {{ reel }} reel(s) is: {{ awa_price }} euros</p>
                            <p>Including:</p>
                            <p>One time registration fee for: {{ reg_fee }} euros</p>
                            <p>One time Contribution fee for: {{ con_fee }} euros</p>
                            <p>{{ quote.awa_storage }} years of Management fee: {{ mgmt_fee }} euros</p>
                            <p>{{ quote.awa_storage }} years of AWA storage: {{ storage_awa }} euros</p>
                        <hr>

                    {% endif %}
                    {% if quote.piqlreader == 'yes' %}
                            <p>{{ qty }} piqlReader is: {{ price_piqlreader }} euros</p>
                            <p>Including:</p>
                            <p>Installation and training: {{ installation }} euros</p>
                            <p>{{ quote.service }} service support: {{ support }} euros per year</p>
                            <hr>
                    {% endif %}

                    {% if quote.consultancy == 'yes' %}
                            <p>Professional services for {{ days }} days is: {{ price_prof_serv }} euros</p>
                            <hr>
                    {% endif %}

                    <p style="color: #E05F2E"><strong>Payment summary:</strong></p>
                    <div style="color: #828282">
                        <p><strong>The price for the first month is {{ first_year_price }} euros</strong></p>
                        {% if quote.offline_data or quote.pages %}
                            {% if quote.awa == 'no' %}
                                <p><strong>Shipment cost (30 euros/reel): {{ reel|mul:30 }} euros</strong></p>
                            {% else %}
                                <p><strong>Shipment cost to AWA (20 euros/reel): {{ reel|mul:20 }} euros</strong></p>
                            {% endif %}
                            {% if quote.piqlreader == 'yes' %}
                                <p><strong>Shipment cost for the piqlReader is calculated according to the destination</strong></p>
                            {% endif %}
                        {% endif %}
                        <hr>
                        <p><strong>The price from second month is {{ second_year_price }} euros per month</strong></p>
                    </div>
                {% endif %}

            {% elif quote.payment == 'only_piqlreader' %}
                {% if quote.online_data > 0 %}
                    <p style="color: #828282"><strong>Incorrect "online payment", please select "Yearly" or "Monthly"</strong></p>
                {% else %}
                    {% if quote.piqlreader == 'yes' %}
                        <p>{{ qty }} piqlReader is: {{ price_piqlreader }} euros</p>
                        <p>Including:</p>
                        <p>Installation and training: {{ installation }} euros</p>
                        <p>{{ quote.service }} service support: {{ support }} euros per year</p>
                        <hr>

                        <p style="color: #E05F2E"><strong>Payment summary:</strong></p>
                        <div style="color: #828282">
                            <p><strong>The price for the piqlReader is {{ first_year_price }} euros</strong></p>
                            <p><strong>Shipment cost is calculated according to the destination</strong></p>
                        </div>
                    {% else %}
                        <p style="color: #828282"><strong>Incorrect input, Select "Yes" to the piqlReader option</strong></p>
                    {% endif %}
                {% endif %}

            {% endif %}

            </div>
          </div>
    </article>

{% endblock %}}
